{% extends 'nav_base.html' %}

{% block content %}
<div class="ticket container d-flex flex-column align-items-center">
    <h2>Modifier la critique de l'oeuvre " {{ticket}} "</h2>
    <h4>{{ ticket.title }}</h4>
    <p class="description">{{ ticket.description }}</p>
    <img src="../../media/{{ ticket.image }}">
    <p class="infos">Demande créée le {{ ticket.time_created }}<br>Par {{ ticket.user }}</p>
</div>
<form method="post" action="{% url 'edit_review' %}" enctype="multipart/form-data" class="container d-flex flex-column align-items-center">
    {% csrf_token %}
    <h3>Quel est votre nouvel avis sur l'oeuvre ?</h3>
    {{ form.as_p }}
    <input type="hidden" name="review_id" value={{review.id}} />
    <button type="submit">Valider la critique</button>
</form>
{% endblock content %}